.env
venv/
__pycache__/
*.pyc
*.pyo
.DS_Store
staticfiles/
media/
*.sqlite3
*.taskdef.json
final-taskdef.json
new-taskdef.json
ecs-exec.json
ssm-policy.json
taskdef*.json

*.taskdef.json
final-taskdef.json
new-taskdef.json
ecs-exec.json
ssm-policy.json
taskdef*.json
